{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="pr-12 bg-neutral-100 max-md:pr-5">
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
    <aside class="flex flex-col w-[22%] max-md:ml-0 max-md:w-full">
      <nav class="flex flex-col grow items-start py-9 pl-3.5 mx-auto w-full text-2xl text-white whitespace-nowrap bg-slate-900 max-md:mt-10">
        <h1 class="self-center text-3xl font-semibold">GarageGenius</h1>
        <h2 class="mt-16 ml-6 max-md:mt-10 max-md:ml-2.5">Menu</h2>
        <a href="/Dashboard" class="flex gap-3 mt-12 ml-6 max-md:mt-10 max-md:ml-2.5">
          <img loading="lazy" src="/images/dashboard.svg" class="shrink-0 aspect-square w-[35px]" alt=""/>
          <span class="flex-auto my-auto">Dashboard</span>
        </a>
        <a href="/devis" class="flex gap-3.5 mt-5 ml-5 max-md:ml-2.5">
          <img loading="lazy" src="/images/facture_white.svg" class="shrink-0 aspect-square w-[35px]" alt="" />
          <span class="my-auto">Devis</span>
        </a>
        <a href="/facture" class="flex gap-3.5 mt-6 ml-5 max-md:ml-2.5">
          <img loading="lazy" src="/images/facture_white.svg" class="shrink-0 aspect-square w-[35px]" alt=""/>
          <span class="flex-auto my-auto">Factures</span>
        </a>
        <a href="/produit" class="flex gap-2.5 items-start self-stretch px-6 py-3 mt-5 font-semibold rounded-none bg-stone-300 text-slate-900 max-md:px-5">
          <img loading="lazy" src="/images/produits_blue.svg" alt="" class="shrink-0 self-start aspect-square w-[37px]" />
          <span class="flex-auto my-auto">Prix</span>
        </a>
        <a href="/users" class="flex gap-3.5 mt-6 ml-5 max-md:ml-2.5">
          <img loading="lazy" src="/images/users_white.svg" class="shrink-0 aspect-square w-[27px]" alt="" />
          <span class="flex-auto my-auto">Utilisateurs</span>
        </a>
        <a href="/profile/edit" class="flex gap-4 mt-10 ml-7 max-md:ml-2.5">
          <img loading="lazy" src="/images/reglages_white.svg" class="shrink-0 aspect-square w-[27px]" alt="" />
          <span class="flex-auto">Réglages</span>
        </a>
        <a href="/deconnexion" class="flex gap-3 ml-6 mt-[655px] max-md:mt-10 max-md:ml-2.5">
          <img loading="lazy" src="/images/quit.svg" class="shrink-0 w-8 aspect-square" alt="" />
          <span class="flex-auto my-auto">Déconnexion</span>
        </a>
      </nav>
    </aside>
    <main class="flex flex-col ml-5 w-[78%] max-md:ml-0 max-md:w-full">
      <section class="flex flex-col mt-6 text-sm max-md:mt-10 max-md:max-w-full">
        <header class="flex gap-2.5 self-start text-3xl font-semibold whitespace-nowrap text-slate-900">
          <img loading="lazy" src="/images/produits_blue.svg" class="shrink-0 w-12 aspect-square" alt=""/>
          <h2 class="flex-auto my-auto">Produit</h2>
        </header>
        <section class="flex flex-col py-6 mt-20 font-medium text-white bg-white rounded-3xl shadow-sm max-md:mt-10 max-md:max-w-full">
          <div class="px-6 text-black max-md:px-5 max-md:max-w-full">
            <h3 class="text-2xl font-semibold text-slate-900 max-md:max-w-full">Détails du produit</h3>
            <table class="mt-6 max-md:max-w-full">
              <tr>
                <th class="px-3 py-2.5 text-left">Id</th>
                <td class="px-3 py-2.5">{{ produit.id }}</td>
              </tr>
              <tr>
                <th class="px-3 py-2.5 text-left">Name</th>
                <td class="px-3 py-2.5">{{ produit.nom }}</td>
              </tr>
              <tr>
                <th class="px-3 py-2.5 text-left">Description</th>
                <td class="px-3 py-2.5">{{ produit.description }}</td>
              </tr>
              <tr>
                <th class="px-3 py-2.5 text-left">Price</th>
                <td class="px-3 py-2.5">{{ produit.prix }}</td>
              </tr>
              <tr>
                <th class="px-3 py-2.5 text-left">DateCreate</th>
                <td class="px-3 py-2.5">{{ produit.dateCreate ? produit.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
              </tr>
              
            </table>
          </div>
          <div class="flex justify-end mt-4 mr-6">
            <a href="{{ path('app_produit_index') }}" class="text-slate-900 hover:text-blue-500">back to list</a>
            <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="ml-4 text-slate-900 hover:text-blue-500">edit</a>
            {{ include('produit/_delete_form.html.twig') }}
          </div>
        </section>
      </section>
    </main>
  </div>
</div>
{% endblock %}

