{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="flex overflow-hidden relative flex-col items-center px-4 pt-8 pb-4 min-h-screen">
    <img loading="lazy" src="images/background_user.png" alt="" class="object-cover absolute inset-0 w-full h-full" />
    <div class="flex relative flex-col items-center w-full max-w-3xl">

        <h1 class="text-4xl font-semibold text-white">GarageGenius</h1>

        <div class="mt-8 w-full max-w-full">
            <form action="{{ path('app_login') }}" method="post" class="flex flex-col grow px-6 py-8 w-full text-xl font-semibold text-black bg-white rounded-3xl">
                {% if error %}
                    <div class="text-red-500 mb-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <label for="email" class="block">E-mail</label>
                <input type="email" id="email" name="email" value="{{ last_username }}" required autofocus
                    class="form-control bg-white border border-gray-300 rounded-md w-full py-3.5 px-4 text-sm text-gray-800 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">

                <label for="password" class="block mt-4">Mot de passe</label>
                <input type="password" id="password" name="password" required
                    class="form-control bg-white border border-gray-300 rounded-md w-full py-3.5 px-4 text-sm text-gray-800 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <button type="submit"
                    class="mt-6 py-3 px-6 text-white rounded-lg bg-blue-600 hover:bg-blue-700">Connexion</button>

                <a href="{{ path('app_register') }}" class="mt-4 py-3 px-6 text-center text-blue-600 rounded-lg border border-blue-600 hover:bg-blue-50">Inscription</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
