
  
    {{ form_start(form) }}
      {{ form_widget(form) }}
  </div>
  <button class="justify-center self-start px-3 py-2.5 mt-7 ml-6 rounded-md bg-slate-900 max-md:ml-2.5"><a href="{{ path('devis_new') }}">{{ button_label|default('Enregistrer') }}</a></button>
    {{ form_end(form) }}
