{% extends 'base.html.twig' %}

{% block title %}Garage index{% endblock %}

{% block body %}
    <h1>Garage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for garage in garages %}
            <tr>
                <td>{{ garage.id }}</td>
                <td>{{ garage.name }}</td>
                <td>{{ garage.address }}</td>
                <td>{{ garage.phone }}</td>
                <td>{{ garage.email }}</td>
                <td>{{ garage.createdAt ? garage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_garage_show', {'id': garage.id}) }}">show</a>
                    <a href="{{ path('app_garage_edit', {'id': garage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_garage_new') }}">Create new</a>
{% endblock %}
